*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.back1{
    position: absolute;
    bottom: -100px;
    width: 100%;
    right: 0;
    z-index: 19;
    height: 820px;
}
.back2{
    position: absolute;
    bottom: -98px;
    /* width: 100%; */
    width: 1850px;
    z-index: 18;
    height: 820px;
    
}
.back3{
    position: absolute;
    bottom: -105px;
    width: 100%;
    height: 820px;
    
}
.person{
    position:absolute;
    width: 100%;
    /* left: -80px; */
    bottom: -60px;
    z-index: 28;
    height: 400px;
}
.text{
    font-size: 30px;
    
    color: whitesmoke;
    text-indent: 50px;
    
}
body{
    background-color: #151515;  
}
nav{
    z-index: 20;
}
nav a .logo{
    width: 80px;
    height: 80px;
}
nav a{
    font-size: 25px;
    color: whitesmoke !important;
    
}


div .shadow{
    position: absolute;
    z-index: 30;
    height: 300px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #151515, transparent);
}
